* {
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px 1fr 30px;
    height: 100vh;
    margin: 0;
    color: white;
    background-color: #222;
}
nav {
    display: flex;
    background: #333;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
    grid-column: span 4;
}
nav div {
    display: flex;
    height: 100%;
    padding: 0 20px;
    align-items: center;
    background: #333;
}
nav div:hover {
    background: #111;
}
nav > div:last-child {
    margin-left: auto;
}
main {
    background-color: #111;
}
footer {
    background-color: #333;
}
aside {
    display: grid;
    background: #111;
    grid-row: 2 / 3;
    grid-column: 1;
    gap: 10px;
}
aside div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}
aside div:hover {
    background: #111;
}
aside div:first-child {
    margin-top: 10px;
}
aside div:last-child {
    margin-bottom: 10px;
}
main {
    display: grid;
    grid-column: 2;
    grid-row: 2 / 3;
    overflow-y: auto;
}

main section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 25px 50px 25px 50px;
    background: #111;
    text-align: center;
}

main section article {
    display: grid;
    align-items: center;
    background: #222;
    margin: 5px;
}

main > section {
    color: rgb(9, 122, 160);
    grid-column: 1;
}

main > section + section {
    color: red;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 3;
}




